/// LOGO //////////////////////////////////
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

/// SEARCH //////////////////////////////////
.search {
    flex: 0 0 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color_grey_light_2);
    }

    &__input {
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        background-color: var(--color_grey_light_2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all 0.3s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color_grey_light_3);
        }
        &::-webkit-input-placeholder {
            background-color: var(--color_grey_light_3);
            font-weight: 100;
        }
    }
    &__input + &__button {
        background-color: var(--color_grey_light_3);
    }
    &__button {
        background-color: var(--color_grey_light_2);
        border: none;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }
    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color_grey_dark_3);
    }
}

/// USER NAVIGATION //////////////////////////////////
.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    & > *:hover {
        background-color: var(--color_grey_light_2);
    }
    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color_grey_dark_2);
    }
    &__notification {
        font-size: 0.8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        color: #fff;
        background-color: var(--color_primary);
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user {
    }
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
    &__user-name {
    }
}
/// SIDE NAVIGATION //////////////////////////////////
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: flex;
        margin: 0;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.5rem;

            @media only screen and (max-width: $bp-medium) {
                margin: 0;
            }
        }
        @media only screen and (max-width: $bp-medium) {
            flex: 1;
        }
    }

    &__item:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color_primary);

        transform: scaleY(0);
        transform-origin: left;
        transition: transform 0.2s, width 0.5s 0.2s, background-color 0.1s;
    }
    &__item:active::before {
        background-color: var(--color_primary_light);
    }
    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }
    &__link:link,
    &__link:visited {
        color: var(--color_grey_light_1);
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 3rem;
        display: block;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            padding: 2rem;
        }
        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            padding: 1.5rem 0.5rem;
        }
    }
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
            width: 1.5rem;
            height: 1.5rem;
            margin-bottom: 0.7rem;
        }
    }
}

.legal {
    font-size: 1.2rem;
    color: var(--color_grey_dark_3);
    text-align: center;
    padding: 2.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}

///GALLERY PHOTO //////////////////////////////////
.gallery {
    display: flex;
    &__item {
    }
    &__photo {
        width: 100%;
        display: block;
    }
}

///OVERVIEW  //////////////////////////////////
.overview {
    display: flex;
    border-bottom: var(--line);
    align-items: center;

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }
    &__stars {
        margin-right: auto;
        display: flex;
    }
    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }
    &__rating {
        color: #fff;
        background-color: var(--color_primary);
        margin-left: 3rem;
        align-self: stretch;
        padding: 0 2.25rem;
        margin-bottom: -3px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--average {
            font-size: 2.25rem;
            font-weight: 300;
            @media only screen and (max-width: $bp-small) {
                font-size: 1.8rem;
            }
        }
        &--counts {
            font-size: 1rem;
            text-transform: uppercase;
            @media only screen and (max-width: $bp-small) {
                font-size: 0.8rem;
            }
        }

        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
        }
    }
    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color_primary);
    }
    &__icon-location {
        margin-right: 0.5rem;
    }
}

///BUTTON INLINE  //////////////////////////////////
.btn-inline {
    border: none;
    color: var(--color_primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        color: var(--color-color_grey_dark_1);
        span {
            margin-left: 8px;
        }
    }
    &:focus {
        animation: plusScale ease-in 0.5s infinite;
        outline: none;
    }

    & span {
        margin-left: 3px;
        transition: all 0.2s;
    }
}
@keyframes plusScale {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}
///BUTTON INLINE  //////////////////////////////////

///LIST //////////////////////////////////
.list {
    margin: 3rem 0;
    padding: 3rem 0;
    list-style: none;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: 0.7rem;
        justify-self: center;
    }
    &__item::before {
        display: inline-block;
        content: "";
        background-image: url(../img/chevron-thin-right.svg); // for oder browser
        background-size: cover; // for oder browser
        height: 1.2rem;
        width: 1.2rem;
        margin-right: 0.7rem;

        // background-color: var(--color_primary);
        // -webkit-mask-image: url(../img/chevron-thin-right.svg);
        // -webkit-mask-size: cover;
    }
}
///RECOMMEND //////////////////////////////////
.recommend {
    font-size: 1.3rem;
    color: var(--color_grey_dark_3);
    display: flex;
    align-items: center;

    &__count {
        margin-right: auto;
    }
    &__friends {
        display: flex;
    }
    &__photo {
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;

        &:not(:last-child) {
            margin-right: -2rem;
        }
    }
}

///REVIEW //////////////////////////////////
.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-with: $bp-medium) {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    &__text {
        margin-bottom: 2rem;
        position: relative;
        z-index: 10;
    }
    &__user {
        display: flex;
        align-items: center;
    }
    &__user-box {
        margin-right: auto;
    }
    &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.4rem;
    }
    &__user-date {
        font-size: 1rem;
        color: var(--color_grey_dark_3);
    }
    &__photo {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }
    &__rating {
        color: var(--color_primary);
        font-size: 2.2rem;
        font-weight: 300;
    }

    &::before {
        content: "\201C";
        font-size: 20rem;
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        color: var(--color_grey_light_2);
        font-family: sans-serif;
        line-height: 1;
        z-index: 1;
    }
}
///CALL TO ACTION (CTA) //////////////////////////////////
.cta {
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-with: $bp-medium) {
        padding: 2.5rem 0;
    }

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}
/// BUTTON
.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(to right, var(--color_primary_light), var(--color_primary_dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &__visible {
        display: inline-block;
        padding: 2rem 7.5rem;
        transition: all 0.2s;
    }
    &__invisible {
        position: absolute;
        width: 100%;
        height: 100%;
        display: inline-block;
        padding: 2rem 0;
        left: 0;
        top: -100%;
        transition: all 0.2s;
    }
    &:hover {
        background-image: linear-gradient(to left, var(--color_primary_light), var(--color_primary_dark));
    }
    &:hover &__invisible {
        top: 0;
    }
    &:hover &__visible {
        transform: translateY(100%);
    }
    &:focus {
        animation: plusScale ease 1s infinite;
    }
}
